<?xml version="1.0"?>
<configuration>

  <appSettings>

	<add key="RaycastingShaderPath" value="Shaders/simple.frag.c"></add>
	  <!-- Model orientation -->
	  <add key="RotateX" value="100.0"></add>
	  <add key="RotateY" value="150.0"></add>
	  <add key="RotateZ" value="180.0"></add>
	  <add key="TranslateZ" value="-0.0"></add>

	  <add key="RenderCubeSideLength" value="1.0"></add>

	  <!-- Volume Data file path -->
	  <!--<add key ="VolumeDataPath" value="../../Data/panoramix_256x256x144.raw"/>-->
	  <!--<add key ="VolumeDataPath" value="../../Data/Carp8bit.raw"/>-->
	  <add key="VolumeDataPath" value="../../Data/metaballs5.raw"/>
  </appSettings>

  <startup>
  	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>