<?xml version="1.0"?>
<configuration>

  <appSettings>

	<add key="RaycastingShaderPath" value="Shaders/shader.frag.c"></add>

	<!-- Model orientation -->
	<add key="RotateX" value="180.5"></add>
	<add key="RotateY" value="20.5"></add>
	<add key="RotateZ" value="10.8"></add>
	<add key="TranslateZ" value="-1.5"></add>

	<!-- Volume Data file path -->
	<add key ="VolumeDataPath" value="../../Data/Carp8bit.raw"/>

  </appSettings>

  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>